<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li ><a href="{% url 'inicio' %}"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
        <li class="submenu">
             <a href="#">
                <i class="glyphicon glyphicon-upload"></i> Cargar Corpus
                <span class="caret pull-right"></span>
             </a>
             <ul>
                <li><a href="{% url 'carga_archivos_create' %}">Cargar</a></li>
                <li><a href="{% url 'carga_archivos_list' %}">Ver</a></li>
            </ul>
        </li>
        <li><a href="{% url 'procesamiento_select' %}"><i class="glyphicon glyphicon-list"></i> Perfiles de Procesamiento</a></li>
        <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Visualización</a></li>
    </ul>
 </div>
